@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');


/*
this is to change font to correct
*/
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Outfit", sans-serif;
}


body{
  background: black;
}


/*
this is to make nav bar text all white and no underline
*/
h1,
h4, 
p, 
a{
  color: white;
  text-decoration: none;
}

ul{
  list-style-type: none;
}

